<!-- Page to run encounter -->
<h2>Time to roll for initiative!</h2>

<h3><%= encounter.title %></h3>
<small>NOTE: When updating either iniative or health, please enter both iniative and health. I know it's a pain, I'm working on fixing it.</small>
<hr />

<% monsters.forEach(function(monster) { %>
    <div class="well">
        <h4><%= monster.name %></h4>
        <!-- TODO: delete button  -->
        <form method="POST" action="/encounter/<%= monster.id %>/?_method=PUT">
            <input hidden type="text" name="monsterId" value="<%= monster.id %>">
            <input hidden type="text" name="encounterId" value="<%= encounter.id %>">

            <label for="updateOrder">Initiative</label>
            <input id="updateOrder" type="text" name="initiative" placeholder="<%= monster.initiative %>">

            <label for="enterHealth">Health</label>
            <input id="enterHealth" type="text" name="health" value="<%= monster.health %>">

            <label for="update" class="sr-only">Update</label>
            <input id="update" type="submit" class="btn btn-primary" value="Update">

            <label for="roll" class="sr-only">Roll Initiative</label>
            <input id="roll" type="submit" name="roll" class="btn btn-primary" value="Roll Iniative">
        </form>
        <hr />
    </div>
<% }) %>