<!-- Page to run encounter -->
<h2>Time to roll for initiative!</h2>

<h3><%= encounter.title %></h3>
<hr />

<% monsters.forEach(function(monster) { %>
    <div class="well">
        <h4><%= monster.name %></h4>
        <!-- TODO: delete button  -->
        <form method="POST" action="/encounter/<%= monster.id %>/?_method=PUT">
            <label for="updateOrder">Enter initiative</label>
            <input id="updateOrder" type="text" placeholder="<%= monster.initiative %>">

            <label for="enterHealth">Enter health</label>
            <input id="enterHealth" type="text" placeholder="<%= monster.health %>">
            
            <label for="update" class="sr-only">Update</label>
            <input id="update" type="button" class="btn btn-primary" value="PUT" placeholder="Update">
        </form>
        <hr />
    </div>
<% }) %>