<!-- View created encounter && add monsters, search bar after created encounter refs back to /monster/view page -->
<h2>Encounter Details</h2>

<h3><%= encounter.title %></h3>
<hr />

<% monsters.forEach(function(monster) { %>
    <div class="well">
        <h4><%= monster.name %></h4>
        <form method="POST" action="/encounter/<%= monster.id %>/?_method=DELETE">
            <input hidden type="text" name="monsterId" value="<%= monster.id %>">
            <input hidden type="text" name="encounterId" value="<%= encounter.id %>">
            <button class="btn btn-danger" type="submit" value="DELETE">Remove From Encounter</button>
        </form>
        <hr />
    </div>
<% }) %>

    <form method="get" action="/encounter/run">
        <label for="runEncounter"class="sr-only">Run encounter</label>
        <input hidden type="text" name="encounterId" value="<%= encounter.id %>">
        <input id="runEncounter" class="btn btn-primary" type="submit" value="Run Encounter">
    </form>
