<!-- Page to view monsters and add them to an encounter -->
<form action="/monster" method="GET"> 
    <label for="viewMonster" class="sr-only">Search for monster.</label>
    <input id="viewMonster" class="form-control" type="text" name="name" placeholder="Search for monsters">  
</form>

<h2>Results for <%= monster.name %></h2>

<div>
    <h5>Type: <%= monster.type %></h5>
    <h5>CR: <%= monster.challenge_rating %></h5>
    <h5>HP: <%= monster.hit_points %></h5>
    <h5>AC: <%= monster.armor_class %></h5>
    <select class="btn btn-dark my-1">
        <option>Stats</option>
        <option>STR: <%= monster.strength %></option>
        <option>DEX: <%= monster.dexterity %></option>
        <option>CON: <%= monster.constitution %></option>
        <option>INT: <%= monster.intelligence%></option>
        <option>WIS: <%= monster.wisdom %></option>
        <option>CHR: <%= monster.charisma%></option>
    </select>   
</div>
<% if(currentUser) { %>
    <h3>Add <%= monster.name %></h3>
    <% encounter.forEach(function(encounter) { %>
        <div class="well">
            <h3><%= encounter.title %></h2>
            <form method="POST" action="/monster">
                <label class="sr-only">Add monster to encounter</label>
                <input hidden type="text" name="name" value="<%= monster.name %>">
                <input hidden type="text" name="health" value="<%= monster.hit_points %>">
                <input hidden type="text" name="encounterId" value="<%= encounter.id %>">
                <button class="btn btn-primary" type="submit">Add to encounter</button>
            </form>
        <hr />
        </div>
    <% }) %>
<% } else { %>
    <h4>Please sign up, or sign in to continue.</h4>
    <form class="form-group" action="./auth/login"> 
        <label for="viewMonster" class="sr-only">Sign up</label>
        <input id="viewMonster" class="btn btn-primary" type="submit" name="name" value="Login to continue">  
    </form>
    <p>Or</p>
    <form class="form-group" action="./auth/register"> 
        <label for="viewMonster" class="sr-only">Register</label>
        <input id="viewMonster" class="btn btn-primary" type="submit" name="name" value="Sign up here">  
    </form>
<% } %>


